code .line {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-size: 13px;
  line-height: 20px;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  padding: 0.5px 2.5rem 0.5px 1.5rem;
  @apply text-gray-10;
}

code {
  counter-reset: line;
}

code .line::before {
  counter-increment: line;
  content: counter(line);
  width: 16px;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  flex-shrink: 0;
  margin-right: 1.2rem;
  color: var(--gray9);
}

code .hide-line::before {
  content: "";
  width: 0px;
  display: inline-block;
  margin-right: 0.2rem;
}

code .highlight-line {
  @apply border-l-2 border-[#A67C52] bg-[#F4F2EF] pr-6 dark:bg-[#272727];
}

:root {
  /* Light Mode Colors - Unchanged from Previous Version */
  --primary-color: #856ddb; /* A soft purple */
  --secondary-color: #15708e; /* A deep teal blue */
  --tertiary-color: #56aba0; /* A muted seafoam green */

  --primary-color-dark: #5a489b; /* A darker shade of the soft purple */
  --secondary-color-dark: #0f5066; /* A darker shade of the deep teal blue */
  --tertiary-color-dark: #3c7c7a; /* A darker shade of the muted seafoam green */
}

/* Primary Highlight: Keywords, Functions, Literals, Names, Titles, Built-ins, Types */
.hljs-keyword,
.hljs-function,
.hljs-literal,
.hljs-name,
.hljs-title,
.hljs-built_in,
.hljs-type {
  @apply text-[var(--primary-color)] dark:text-[var(--primary-color-dark)];
}

/* Secondary Highlight: Strings and Variables */
.hljs-string,
.hljs-variable,
.hljs-template-variable {
  @apply text-[var(--secondary-color)] dark:text-[var(--secondary-color-dark)];
}

.hljs-symbol,
.hljs-bullet,
.hljs-attr,
.hljs-regexp,
.hljs-link {
  @apply text-[var(--tertiary-color)] dark:text-[var(--tertiary-color-dark)];
}

/* Tertiary Highlight: Comments and Meta */
.hljs-comment,
.hljs-quote,
.hljs-meta {
  @apply text-gray-8;
}
